<h2 mat-dialog-title>Game</h2>
<mat-dialog-content>
  <!-- Edit Game Dialog -->
  <div [formGroup]="gameForm" *ngIf="getMode() == GameDialogState.EDIT" class="container" id="edit_game_dialog">
      <mat-form-field>
        <input formControlName="title" matInput placeholder="Title" value="{{ getGame().title }}">
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">Invalid game title</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-select formControlName="platform" [(value)]="getGame().platform" placeholder="Select A Platform">
          <mat-option *ngFor="let platform of getPlatforms()" [value]="platform">
            {{ platform }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="platform.invalid && (platform.dirty || platform.touched)">Invalid platform</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select formControlName="genre" [(value)]="getGame().genre" placeholder="Select A genre">
          <mat-option *ngFor="let genre of getGenres()" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="genre.invalid && (genre.dirty || genre.touched)">Invalid genre</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="publisher" matInput placeholder="Publisher" value="{{ getGame().publisher }}">
        <mat-error *ngIf="publisher.invalid && (publisher.dirty || publisher.touched)">Invalid publisher</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="release" matInput placeholder="Release Date" value="{{ getGame().release }}">
        <mat-error *ngIf="release.invalid && (releasreleaseeDate.dirty || release.touched)">Invalid release date</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select formControlName="status" [(value)]="getGame().status" placeholder="Select A Status">
          <mat-option *ngFor="let status of getStatuses()" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="status.invalid && (status.dirty || status.touched)">Invalid status</mat-error>
      </mat-form-field>
  </div>

    <!-- Add Game Dialog -->
  <div [formGroup]="gameForm" *ngIf="getMode() == GameDialogState.ADD" class="container" id="add_game_dialog">
    <mat-form-field>
        <input formControlName="title" matInput placeholder="Title">
        <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">Invalid game title</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-select formControlName="platform" placeholder="Select A Platform">
          <mat-option *ngFor="let platform of getPlatforms()" [value]="platform">
            {{ platform }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="platform.invalid && (platform.dirty || platform.touched)">Invalid platform</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select formControlName="genre" placeholder="Select A genre">
          <mat-option *ngFor="let genre of getGenres()" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="genre.invalid && (genre.dirty || genre.touched)">Invalid genre</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="publisher" matInput placeholder="Publisher">
        <mat-error *ngIf="publisher.invalid && (publisher.dirty || publisher.touched)">Invalid publisher</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="release" matInput placeholder="Release Date">
        <mat-error *ngIf="release.invalid && (release.dirty || release.touched)">Invalid release date</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select formControlName="status" placeholder="Select A Status">
          <mat-option *ngFor="let status of getStatuses()" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="status.invalid && (status.dirty || status.touched)">Invalid status</mat-error>
      </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onCloseClick()" mat-button>Cancel</button>
  <button (click)="onAddClick()" *ngIf="getMode() == GameDialogState.ADD" mat-button="true">Add</button>
  <button (click)="onUpdateClick()" *ngIf="getMode() == GameDialogState.EDIT" mat-button="true">Update</button>
</mat-dialog-actions>