<h2 mat-dialog-title>Admin Login</h2>
<mat-dialog-content>
  <div [formGroup]="loginForm" class="container">
    <mat-form-field>
      <input formControlName="username" matInput placeholder="Username">
      <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">Invalid username</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [type]="hide ? 'password' : 'text'" matInput="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">Invalid password</mat-error>
    </mat-form-field>
    
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="onLoginClick()">Login</button>
</mat-dialog-actions>