<h2 mat-dialog-title>Player</h2>
<mat-dialog-content>

  <!-- Show Player Dialog -->
  <div *ngIf="getMode() == PlayerDialogState.SHOW" class="container" id="show_player_dialog">
    <mat-list>
      <mat-list-item>
        Player: {{ getPlayer().name }}
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>Rank: {{ getPlayer().rank }}</mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
        <mat-list-item>Score: {{ getPlayer().score }}</mat-list-item>
      </mat-list>
  
    <mat-divider></mat-divider>

    <mat-list>
        <mat-list-item>Time: {{ getPlayer().time }}</mat-list-item>
    </mat-list>
  
    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>Favourite Game: {{ getPlayer().gamePlayed }}</mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-select placeholder="Select a Game">
            <mat-option *ngFor="let game of getGames() | keyvalue" [value]="game">
              {{ game.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
  </div>

  <!-- Edit Player Dialog -->
  <div [formGroup]="playerForm" *ngIf="getMode() == PlayerDialogState.EDIT" class="container" id="edit_player_dialog">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Player" value="{{ getPlayer().name }}">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Invalid player name</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-select formControlName="rank" [(value)]="getPlayer().rank" placeholder="Select A Rating">
          <mat-option *ngFor="let rank of getRanks()" [value]="rank">
            {{ rank }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="rank.invalid && (rank.dirty || rank.touched)">Invalid player name</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="score" matInput placeholder="Score" value="{{ getPlayer().score }}">
        <mat-error *ngIf="score.invalid && (score.dirty || score.touched)">Invalid player name</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="time" matInput placeholder="Time" value="{{ getPlayer().time }}">
        <mat-error *ngIf="time.invalid && (time.dirty || time.touched)">Invalid player name</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select formControlName="gamePlayed" [(value)]="getPlayer().gamePlayed" placeholder="Select A Game">
          <mat-option *ngFor="let game of getGames()" [value]="game">
            {{ game.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="gamePlayed.invalid && (gamePlayed.dirty || gamePlayed.touched)">Invalid player name</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select formControlName="status" [(value)]="getPlayer().status" placeholder="Select A Status">
          <mat-option *ngFor="let status of getStatuses()" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="status.invalid && (status.dirty || status.touched)">Invalid player name</mat-error>
      </mat-form-field>
  </div>

    <!-- Add Player Dialog -->
  <div [formGroup]="playerForm" *ngIf="getMode() == PlayerDialogState.ADD" class="container" id="add_player_dialog">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Player">
      <mat-error *ngIf="name.invalid">Invalid player name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="rank" placeholder="Select A Rating">
        <mat-option *ngFor="let rank of getRanks()" [value]="rank">
          {{ rank }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="rank.invalid">Invalid rank</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="score" matInput placeholder="Score">
      <mat-error *ngIf="score.invalid">Invalid score</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="time" matInput placeholder="Time">
      <mat-error *ngIf="time.invalid">Invalid time</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="gamePlayed" placeholder="Select A Favourite Game">
        <mat-option *ngFor="let game of getGames()" [value]="game">
          {{ game.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="gamePlayed.invalid">Invalid game</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="status" placeholder="Select A Status">
        <mat-option *ngFor="let status of getStatuses()" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="status.invalid">Invalid status</mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onCloseClick()" mat-button>Cancel</button>
  <button (click)="onJoinClick()" *ngIf="getMode() == PlayerDialogState.SHOW" mat-button="true">Join</button>
  <button (click)="onAddClick()" *ngIf="getMode() == PlayerDialogState.ADD" mat-button="true">Add</button>
  <button (click)="onUpdateClick()" *ngIf="getMode() == PlayerDialogState.EDIT" mat-button="true">Update</button>
</mat-dialog-actions>